<!DOCTYPE html>
<html>
    <div class="second-partition">
 		 <div class="app">
 		 
 		 </div>
        <header class="header">
            <div class="logoContainer">
                    <a href="index.html"  class="logo">
                        <img src="img/tindertec_logo1.png" class="logoImg">
                    </a>
            </div>
        </header>
    
        <div class="container-tindertec">
        </div>
    
        <footer class="footer">
            <a href="index.html" target="_blank">Tindertec © 2022 Todos los derechos reservados.</a>
        </footer>
    
    </div>

</html>
