<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="image/png" rel="icon" href="img/tindertec_logo1.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tindertec | Registrar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    
    <!--Iconscout CSS-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!--CSS-->

    <link type="text/css" rel="stylesheet" th:href="@{/css/style-Registro.css}" href="static/css/style-Login.css">
</head>

<body>
    <div class="container">
        <form action="/Usuario/Registrar" method="post" th:object="${usuario}" class="forms" > 
            <!-- APARTADO Registrarse -->
            <div class="form login">
                <span class="title">Registro</span>


                <div class="input-field">
                    <input type="text"  th:field="*{nombres}" placeholder="Ingrese su nombre" class="form-control cajasTexto" required>
                    <i class="uil uil-user"></i>
                </div>


                <div class="input-field">
                    <input type="text"  th:field="*{email}"  placeholder="Ingrese su correo" class="form-control cajasTexto" required>
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div id="emailOK"></div>

                <div class="input-field">
                    <input type="date" th:field="*{fecha_naci}"  placeholder="Ingrese su fecha de nacimiento" class="form-control cajasTexto"
                        required>
                    <i class="uil uil-calendar-alt"></i>
                </div>
                <div class="input-field">
                    <input type="password" class="password cajasTexto" id="clave" placeholder="Cree su contraseña"
                        required>
                    <i class="uil uil-lock icon"></i>
                    <i class="uil uil-eye-slash showHidePw"></i>
                </div>
                <div class="input-field">
                    <input type="password" class="password cajasTexto" id="clave_validacion" th:field="*{clave}" 
                        placeholder="Confirme su contraseña" required>
                    <i class="uil uil-lock-access"></i>
                    <i class="uil uil-eye-slash showHidePw"></i>
                </div>
                <div id="msj_clave" style="color: crimson; font-size: 13px;text-align: end; position: absolute;">
                </div>
                <div class="input-field button">
                    <input type="button" id="btn_continuar" value="Continuar" disabled class="text signup-link" style="background-color :silver;" />
                </div>

                <div th:if="${msjConfirmation != null }">
               		 <h6 class='alerta' style="margin-top:10px;color: crimson; font-weight: bold;position: absolute;margin-left: 9px;" th:text="${msjConfirmation}"></h6>
               	                                                 <script>
                                                    window.setTimeout(function () {
                                                        $(".alerta").fadeTo(500, 0).slideUp(500, function () {
                                                            $(this).remove();
                                                        });
                                                    }, 3500);

                                                </script>
                </div>
                <div class="login-signup">
                    <span class="text">Ya eres miembro?
                        <a href="/Login" class="text login-link">Inicia sesion</a>
                    </span>
                </div>
            </div>

            <div class="form singUp">
                <span class="title">Completa tu informacion</span>


                <div class="input-field">
                    <select id="cod_sede" class="form-control" th:field="*{cod_sede}" required style="padding-left: 30px;">
                        <option value="-1">Seleccione su sede...</option>
                        <option th:each="sed: ${lstSedes}" th:value="${sed.cod_sede}" th:text="${sed.des_sede}">
                        </option>
                    </select>
                    <i class="uil uil-location-point" style="top: 37%;left: 1%;"></i>
                </div>
                <div class="input-field">
                    <select id="cod_sede" class="form-control" th:field="*{cod_carrera}" required style="padding-left: 30px;">
                        <option value="-1">Seleccione su carrera...</option>
                        <option th:each="car: ${lstCarreras}" th:value="${car.cod_carrera}" th:text="${car.des_carrera}">
                        </option>
                    </select>
                    <i class="uil uil-books" style="top: 37%;left: 1%;"></i>
                </div>
                <div class="input-field">
                    <select id="cod_sede" class="form-control" th:field="*{cod_genero}" required style="padding-left: 30px;">
                        <option value="-1">Seleccione su genero...</option>
                        <option th:each="sed: ${lstGeneros}" th:value="${sed.cod_genero}" th:text="${sed.des_genero}">
                        </option>
                    </select>
                    <i class="uil uil-mars" style="top: 37%;left: 1%;"></i>
                </div>
                <div class="input-field">
                    <select id="cod_sede" class="form-control" th:field="*{cod_interes}" required style="padding-left: 30px;">
                        <option value="-1">Seleccione su genero de interes...</option>
                        <option th:each="int: ${lstInteres}" th:value="${int.cod_interes}" th:text="${int.des_interes}">
                        </option>
                    </select>
                    <i class="uil uil-venus" style="top: 37%;left: 1%;"></i>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Escribe algo sobre ti" required th:field="*{descripcion}" >
                    <i class="uil uil-brain"></i>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Pon la URL de tu primera foto" th:field="*{foto1}"  required>
                    <i class="uil uil-image-plus"></i>
                </div>

                <div class="input-field button form-row">
                    <div class="form-group col-md-4">
                        <input class="buttton informacion-link" type="button" value="Atras">
                    </div>
                    <div class="form-group col-md-7">
                        <input class="button" type="submit" value="Crear cuenta" style="margin-top: 0;margin-left: 16%;">
                    </div>

                </div>
            </div>
        </form>

    </div>
    <script th:src="@{/js/site.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <script th:src="@{/js/js-Registro.js}"></script>
    <!-- Main Container Ends -->
</body>

</html>