<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="image/png" rel="icon"  href="img/tindertec_logo1.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tindertec | Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--Iconscout CSS-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!--CSS-->
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style-Login.css}" href="static/css/style-Login.css">
</head>



<body>
    <div class="container">

        <!--APARTADO Login-->
        <div class="form login">
            <div class="logo_container">
                
                 <img class="logo"  style="width: 100%;" th:src="@{/img/logo_tindertec2.png}">
            </div>

            <span class="title">Iniciar Sesion</span>
           <form action="/Ingreso" th:object="${usuario}" method="post">
                <div class="input-field">
                <div th:if="${msjLogin != null }" style="position: absolute; z-index: 2; font-size: 12px;">
               		 <h5 class='alerta' style="margin-top:0px;color: crimson; font-weight: bold;" th:text="${msjLogin}"></h5>
               	                                                 <script>
                                                    window.setTimeout(function () {
                                                        $(".alerta").fadeTo(500, 0).slideUp(500, function () {
                                                            $(this).remove();
                                                        });
                                                    }, 2500);

                                                </script>
                </div>
                    <input th:field="*{email}" type="email" class="form-control" placeholder="Ingresa tu correo" required />
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div id="emailOK"></div>

                <div class="input-field">
                    <input th:field="*{clave}" type="password" class="password" placeholder="Ingresa tu contraseña" required />
                    <i class="uil uil-lock icon"></i>
                    <i class="uil uil-eye-slash showHidePw"></i>
                </div>
                <div class="input-field button">
                    <input type="submit" value="Ingresar">
                </div>
            </form>

	
            <div class="login-signup">
                <span class="text">No eres miembro?
                    <a href="/Usuario/Registrar" class="text signup-link">Registrate aqui</a>
                </span>
                <div th:if="${msjConfirmation != null }" style="height: inherit; text-align: center;">
               		 <h5 class='alerta' style="margin-top:22px;color: crimson; font-weight: bold;" th:text="${msjConfirmation}"></h5>
               	                                                 <script>
                                                    window.setTimeout(function () {
                                                        $(".alerta").fadeTo(500, 0).slideUp(500, function () {
                                                            $(this).remove();
                                                        });
                                                    }, 2500);

                                                </script>
                </div>
            </div>
        </div>
    </div>


    <script th:src="@{/js/site.js}" ></script>

    <script th:src="@{/js/js-Login.js}"></script>
    <!-- Main Container Ends -->
</body>

</html>