<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="Tindertec|MeGustas" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tindertec|Perfil</title>
    
    <link rel="icon" type="image/png" th:href="@{/img/tindertec_logo1.png}" >

    <link href="static/css/style.css" rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
    <link href="static/css/style-MantenerUsuario.css" rel="stylesheet" type="text/css"
        th:href="@{/css/style-MantenerUsuario.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>
    <div class="modal fade" id="addFotoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form  action="/Perfil/AgregarFoto" method="post" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="margin: auto;">Ingrese URL de su foto:</h5>
                </div>
                <div class="modal-body">
                    <input type="text" name="url_foto" placeholder="https://www..." required="required">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Añadir</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="lblDeleteModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <form class="modal-content" action="/Perfil/eliminar" method="post">
                            <div class="modal-header">
                              <h5 class="title" id="lblDeleteModal" style="margin-left: auto;margin-right: auto;">¿Esta seguro de eliminar su cuenta?</h5>
                            </div>
                            <div class="modal-footer" style="justify-content: center !important;">
                              <div >
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                              </div>

                              <div >
                                <button type="submit" class="btn btn-primary">Aceptar</button>
                              </div>
                            </div>
                          </form>
                        </div>

                      </div>   
    <div class="container-noBT">
        <div th:include="_Shared/Particion_1.html" th:remove="tag"></div>
        <script>
            $("#btnMantenerUsuario").addClass("selected");
        </script>
        <div class="second-partition" style=" background: linear-gradient(45deg,#fd267a,#ff6036);">

            <div class="likes">
                <div class="app" style="overflow: auto;  position: absolute;Z-INDEX: 1;height: 74vh;width: 60vw;border: 1px solid black;margin-top: 14vh; margin-left: 10vw;">
                    <div class="profile-page">
                        <div class="main main-raised">
                            <div class="profile-content">
                                <div class="container">
                                    <div class="row">
                                        <!-- MENU-->
                                        <div class="col-md-6 ml-auto mr-auto">
                                            <div class="profile-tabs">
                                                <ul class="nav nav-pills nav-pills-icons justify-content-center"
                                                    role="tablist">
                                                    <li class="nav-item clgaleria">
                                                        <a class="nav-link active " id="galeria" href="#studio" role="tab"
                                                            data-toggle="tab">
                                                            <i class="material-icons">camera</i>
                                                            Galeria
                                                        </a>
                                                    </li>
                                                    <li class="nav-item clmantenimiento">
                                                        <a class="nav-link " href="#palette" role="tab" id="editar"
                                                            data-toggle="tab">
                                                            <i class="material-icons">palette</i>
                                                            Editar Perfil
                                                        </a>
                                                    </li>
                                                    <li class="nav-item cleliminar">
                                                        <a class="nav-link " href="#delete" role="tab" id="eliminar"
                                                            data-toggle="tab">
                                                            <i class="material-icons">no_accounts</i>
                                                            Eliminar cuenta
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>



                                    </div>
                                                            <div class ="alerta" th:if="${msjConfirmacionAddFoto != null }" style="text-align: center;margin-top: 2vh;">
					                                            <h4 th:text="${msjConfirmacionAddFoto}" style="color: crimson;"> </h4>
					                                             <script>
				                                                    window.setTimeout(function () {
				                                                        $(".alerta").fadeTo(500, 0).slideUp(500, function () {
				                                                            $(this).remove();
				                                                        });
				                                                    }, 2500);
				
				                                                </script>
					                                        </div>                                    
                                    <div class="tab-content tab-space">
                                    
                                        <!-- galeria-->
                                        <div class="tab-pane  active text-center gallery" id="studio">
                                            <div class="row" th:if="${nroFotos == 1}">
                                                <div class="col-md-3 ml-auto" style="max-width: 40%">
                                                    <img th:src="${foto1Gal}" class="rounded">
                                                </div>
                                                <div class="col-md-3 mr-auto" style="max-width: 40%">
                                                    <button data-toggle="modal" data-target="#addFotoModal">
                                                        <img src="https://cdn.pixabay.com/photo/2017/11/10/05/24/add-2935429_960_720.png"
                                                            class="rounded"
                                                            style="padding-top: 6vh;padding-bottom: 4vh;">
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row" th:if="${nroFotos == 2}">
                                                <div class="col-md-3 ml-auto" style="max-width: 40%">
                                                    <img th:src="${foto1Gal}" class="rounded">
                                                    <button data-toggle="modal" data-target="#addFotoModal">
                                                        <img src="https://cdn.pixabay.com/photo/2017/11/10/05/24/add-2935429_960_720.png"
                                                            class="rounded"
                                                            style="padding-top: 6vh;padding-bottom: 4vh;">
                                                    </button>
                                                </div>
                                                <div class="col-md-3 mr-auto" style="max-width: 40%">
                                                    <img th:src="${foto2Gal}" class="rounded">
                                                </div>
                                            </div>
                                            <div class="row" th:if="${nroFotos == 3}">
                                                <div class="col-md-3 ml-auto" style="max-width: 40%">
                                                    <img th:src="${foto1Gal}" class="rounded">
	                                                <img th:src="${foto3Gal}" class="rounded">
	                                                
                                                   <!--  <div style="position: relative;display: inline-block;">
	                                                    <img th:src="${foto3Gal}" class="rounded">
	                                                    <button class="btn" style="position: absolute;bottom: 28.5em;right:0em;"><i class="uil uil-trash-alt"></i></button>
                                                    </div>-->
                                                    

                                                </div>
                                                <div class="col-md-3 mr-auto" style="max-width: 40%" >
                                                    <img th:src="${foto2Gal}" class="rounded">
                                                    <button data-toggle="modal" data-target="#addFotoModal" >
                                                        <img src="https://cdn.pixabay.com/photo/2017/11/10/05/24/add-2935429_960_720.png"
                                                            class="rounded"
                                                            style="padding-top: 6vh;padding-bottom: 4vh;">
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row" th:if="${nroFotos == 4}">
                                                <div class="col-md-3 ml-auto" style="max-width: 40%">
                                                    <img th:src="${foto1Gal}" class="rounded">
                                                    <img th:src="${foto3Gal}" class="rounded">
                                                    <button data-toggle="modal" data-target="#addFotoModal">
                                                        <img src="https://cdn.pixabay.com/photo/2017/11/10/05/24/add-2935429_960_720.png"
                                                            class="rounded"
                                                            style="padding-top: 6vh;padding-bottom: 4vh;">
                                                    </button>
                                                </div>
                                                <div class="col-md-3 mr-auto" style="max-width: 40%">
                                                    <img th:src="${foto2Gal}" class="rounded">
                                                    <img th:src="${foto4Gal}" class="rounded">
                                                </div>
                                            </div>
                                            <div class="row" th:if="${nroFotos == 5}">
                                                <div class="col-md-3 ml-auto" style="max-width: 40%">
                                                    <img th:src="${foto1Gal}" class="rounded">
                                                    <img th:src="${foto3Gal}" class="rounded">
                                                    <img th:src="${foto5Gal}" class="rounded">
                                                </div>
                                                <div class="col-md-3 mr-auto" style="max-width: 40%">
                                                    <img th:src="${foto2Gal}" class="rounded">
                                                    <img th:src="${foto4Gal}" class="rounded">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="palette" style="display: none">
                                            <!-- Mantener datos-->
                                            <div class="row">
                                                <div class="container py-4">
                                                    <div class="row">
                                                        <div class="col-lg-6 mx-auto d-flex justify-content-center flex-column">
                                                            <div class ="alerta" th:if="${msjConfirmacionEditarPerfil != null }" style="text-align: center;">
					                                            <h4 th:text="${msjConfirmacionEditarPerfil}" style="color: crimson;"> </h4>
					                                             <script>
				                                                    window.setTimeout(function () {
				                                                        $(".alerta").fadeTo(500, 0).slideUp(500, function () {
				                                                            $(this).remove();
				                                                        });
				                                                    }, 1500);
				
				                                                </script>
					                                        </div>

                                                            <form action="/Perfil/Guardar" th:object="${usuario}"
                                                                id="contact-form" method="post" autocomplete="off">
                                                                <div class="card-body">

                                                                    <div class="mb-4"
                                                                        style="margin-bottom: 0.5rem!important;">
                                                                        <label class="textBoxTitle">Nombre Público</label>
                                                                        <input th:name="nombres" type="text" placeholder="Ingrese Nombre" th:value="${nombresUsu}">
                                                                    </div>

                                                                    <div class="mb-4"
                                                                        style="margin-bottom: 0.5rem!important;">
                                                                        <label class="textBoxTitle">Descripción</label>
                                                                        <input th:value="${descripcionUsu}" th:name="descripcion" type="text" placeholder="Ingrese una descripción" >
                                                                    </div>

                                                                    <div class="mb-4"
                                                                        style="margin-bottom: 0.5rem!important;">
                                                                        <label for="genderpref"
                                                                            class="textBoxTitle">Interés
                                                                            de
                                                                            Género</label>
                                                                        <select id="cod_interes" name="cod_interes">
                                                                            <option th:each="p:${lstInteres}"
                                                                                th:value="${p.cod_interes}"
                                                                                th:text="${p.des_interes}"
                                                                                 th:selected="${inteSelect==p.cod_interes}">inteSelect
                                                                            </option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="mb-4"
                                                                        style="margin-bottom: 0.5rem!important;">
                                                                        <label for="career"
                                                                            class="textBoxTitle">Carrera</label>
                                                                        <select id="cod_carrera" name="cod_carrera" >
                                                                            <option th:each="c:${lstCarrera}"
                                                                                th:value="${c.cod_carrera}"
                                                                                th:text="${c.des_carrera}"
                                                                                th:selected="${carreraSelect==c.cod_carrera}"
                                                                                >
                                                                            </option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="mb-4"
                                                                        style="margin-bottom: 0.5rem!important;">
                                                                        <label for="sede" class="textBoxTitle">Sede de
                                                                            Cibertec</label>
                                                                        <select id="cod_sede" name="cod_sede" >
                                                                            <option th:each="s:${lstSede}"
                                                                                th:value="${s.cod_sede}"
                                                                                th:text="${s.des_sede}"
                                                                                th:selected="${sedeSelect==s.cod_sede}">
                                                                            </option >
                                                                            
                                                                        </select>
                                                                    </div>
                                                                    <input type="submit" value="Guardar Cambios">
                                                                </div>
                                                            </form>
                                                            <div th:if="${mensajeSucess} != null"
                                                                class="alert alert-success" role="alert"
                                                                th:text="${mensajeSucess}"></div>
                                                            <div th:if="${mensajeError}   != null"
                                                                class="alert alert-danger" role="alert"
                                                                th:text="${mensajeError}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane active" id="delete" style="display: none">
                                            <!-- Eliminar cuenta-->
                                            <div class="row">
                                                <div class="container py-4">
                                                    <div class="row">
                                                        <div
                                                            class="col-lg-7 mx-auto d-flex justify-content-center flex-column">

                                                            <h3 class="title text-center">T&C de cierre definitivo de
                                                                cuenta
                                                            </h3>

                                                            <div role="form" id="cerrar-cuenta" >
                                                                <div class="card-body">

                                                                    <p>Si quieres eliminar tu cuenta de TinderTec
                                                                        definitivamente, debes saber que tu cuenta,
                                                                        todos
                                                                        tus datos personales, likes, dislikes y mensajes
                                                                        de
                                                                        texto serán eliminados de forma
                                                                        automática,
                                                                        para siempre. Debes estar de acuerdo con las
                                                                        siguientes condiciones.<br><br>
                                                                        Después de eliminar tu cuenta:<br><br>
                                                                        - Se cerrará tu sesión automáticamente en todos
                                                                        los
                                                                        dispositivos.<br>
                                                                        - Se eliminarán todos tus mensajes de texto.<br>
                                                                        - No podrás tener acceso a tus contactos en
                                                                        TinderTec.<br>
                                                                        - Ya no podrás iniciar sesión en los servicios
                                                                        de
                                                                        TinderTec, para eso deberás crear una
                                                                        cuenta
                                                                        nueva.<br>

                                                                    </p>
                                                                    <button id="btnDelete " type="button" class="button"
                                                                        data-toggle="modal" data-target="#deleteModal"
                                                                        style="margin-left: 24%;width: 55%;background-color: #fc4c6c;color: white;padding: 14px 20px;margin-top: 24px;margin-bottom: 8px;border: none;border-radius: 4px;cursor: pointer;font-family:Roboto Slab;">
                                                                        Eliminar mi cuenta
                                                                    </button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <header class="header">
                    <div class="logoContainer">
                        <a href="index.html" class="logo">
                            <img th:src="@{/img/tindertec_logo1.png}"  class="logoImg">
                        </a>
                    </div>
                </header>


                <footer class="footer" style="margin-top: 87.95vh;">
                    <a href="index.html" target="_blank">Tindertec © 2022 Todos los derechos reservados.</a>
                </footer>


            </div>
        </div>
    </div>
                                        <script th:if="${msjConfirmacionEditarPerfil != null }">
                                    		document.getElementById("studio").setAttribute("style", "display: none;")
                                            document.getElementById("palette").setAttribute("style", "display: block;")
                                            document.getElementById("delete").setAttribute("style", "display: none;")
                                            
                                            document.getElementById("galeria").classList.remove('active');
                                            document.getElementById("editar").classList.add('active');
                                            document.getElementById("eliminar").classList.remove('active');
                                            
                                        </script>

    <script th:src="@{/js/index.js}"></script>
</body>

</html>